.hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;     /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;             /* Chrome, Safari, and Opera */
}

@media only screen and (max-width : 800px) {
    nav .nav-logo{
        font-size: 1.5rem;
    }
    nav .nav-list{
        display: none;
    }
    nav .hamburger{
        display: block;
    }
}